[submodule "submodules/MKSServo57DCANController"]
	path = submodules/MKSServo57DCANController
	url = https://github.com/coport-uni/MKSServo57DCANController.git
[submodule "submodules/LinearMotorController"]
	path = submodules/LinearMotorController
	url = https://github.com/coport-uni/LinearMotorController.git
